In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

/kaggle/input/countries-of-the-world-2023/world-data-2023.csv

In [2]:
df=pd.read_csv('/kaggle/input/countries-of-the-world-2023/world-data-2023.csv')
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density
(P/Km2)                            195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      188 non-null    object
 4   Land Area(Km2)                             194 non-null    object
 5   Armed Forces size                          171 non-null    object
 6   Birth Rate                                 189 non-null    float64
 7   Calling Code                               194 non-null    float64
 8   Capital/Major City                         192 non-null    object
 9   Co2-Emissions                              188 non-null    object
 10  CPI                                        178 non-null    object
 11  CPI Change (%)                             179 non-null    object
 12  Currency-Code                              180 non-null    object
 13  Fertility Rate                             188 non-null    float64
 14  Forested Area (%)                          188 non-null    object
 15  Gasoline Price                             175 non-null    object
 16  GDP                                        193 non-null    object
 17  Gross primary education enrollment (%)     188 non-null    object
 18  Gross tertiary education enrollment (%)    183 non-null    object
 19  Infant mortality                           189 non-null    float64
 20  Largest city                               189 non-null    object
 21  Life expectancy                            187 non-null    float64
 22  Maternal mortality ratio                   181 non-null    float64
 23  Minimum wage                               150 non-null    object
 24  Official language                          194 non-null    object
 25  Out of pocket health expenditure           188 non-null    object
 26  Physicians per thousand                    188 non-null    float64
 27  Population                                 194 non-null    object
 28  Population: Labor force participation (%)  176 non-null    object
 29  Tax revenue (%)                            169 non-null    object
 30  Total tax rate                             183 non-null    object
 31  Unemployment rate                          176 non-null    object
 32  Urban_population                           190 non-null    object
 33  Latitude                                   194 non-null    float64
 34  Longitude                                  194 non-null    float64
dtypes: float64(9), object(26)
memory usage: 53.4+ KB

In [4]:
df.describe()

,Birth Rate,Calling Code,Fertility Rate,Infant mortality,Life expectancy,Maternal mortality ratio,Physicians per thousand,Latitude,Longitude
count,189.000000,194.000000,188.000000,189.000000,187.000000,181.000000,188.000000,194.000000,194.000000
mean,20.214974,360.546392,2.698138,21.332804,72.279679,160.392265,1.839840,19.092351,20.232434
std,9.945774,323.236419,1.282267,19.548058,7.483661,233.502024,1.684261,23.961779,66.716110
min,5.900000,1.000000,0.980000,1.400000,52.800000,2.000000,0.010000,-40.900557,-175.198242
25%,11.300000,82.500000,1.705000,6.000000,67.000000,13.000000,0.332500,4.544175,-7.941496
50%,17.950000,255.500000,2.245000,14.000000,73.200000,53.000000,1.460000,17.273849,20.972652
75%,28.750000,506.750000,3.597500,32.700000,77.500000,186.000000,2.935000,40.124603,48.281523
max,46.080000,1876.000000,6.910000,84.500000,85.400000,1150.000000,8.420000,64.963051,178.065032

In [5]:
df.shape

(195, 35)

In [6]:
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [7]:
df.loc[51]

Country                                                       Egypt
Density\n(P/Km2)                                                103
Abbreviation                                                     EG
Agricultural Land( %)                                         3.80%
Land Area(Km2)                                            1,001,450
Armed Forces size                                           836,000
Birth Rate                                                    26.38
Calling Code                                                   20.0
Capital/Major City                                            Cairo
Co2-Emissions                                               238,560
CPI                                                          288.57
CPI Change (%)                                                9.20%
Currency-Code                                                   EGP
Fertility Rate                                                 3.33
Forested Area (%)                                             0.10%
Gasoline Price                                               $0.40
GDP                                               $303,175,127,598
Gross primary education enrollment (%)                      106.30%
Gross tertiary education enrollment (%)                      35.20%
Infant mortality                                               18.1
Largest city                                                  Cairo
Life expectancy                                                71.8
Maternal mortality ratio                                       37.0
Minimum wage                                                    NaN
Official language                            Modern Standard Arabic
Out of pocket health expenditure                             62.00%
Physicians per thousand                                        0.45
Population                                              100,388,073
Population: Labor force participation (%)                    46.40%
Tax revenue (%)                                              12.50%
Total tax rate                                               44.40%
Unemployment rate                                            10.76%
Urban_population                                         42,895,824
Latitude                                                  26.820553
Longitude                                                 30.802498
Name: 51, dtype: object

In [8]:

print(df)

         Country Density\n(P/Km2) Abbreviation Agricultural Land( %)  \
0    Afghanistan               60           AF                58.10%
1        Albania              105           AL                43.10%
2        Algeria               18           DZ                17.40%
3        Andorra              164           AD                40.00%
4         Angola               26           AO                47.50%
..           ...              ...          ...                   ...
190    Venezuela               32           VE                24.50%
191      Vietnam              314           VN                39.30%
192        Yemen               56           YE                44.60%
193       Zambia               25           ZM                32.10%
194     Zimbabwe               38           ZW                41.90%

    Land Area(Km2) Armed Forces size  Birth Rate  Calling Code  \
0          652,230           323,000       32.49          93.0
1           28,748             9,000       11.78         355.0
2        2,381,741           317,000       24.28         213.0
3              468               NaN        7.20         376.0
4        1,246,700           117,000       40.73         244.0
..             ...               ...         ...           ...
190        912,050           343,000       17.88          58.0
191        331,210           522,000       16.75          84.0
192        527,968            40,000       30.45         967.0
193        752,618            16,000       36.19         260.0
194        390,757            51,000       30.68         263.0

    Capital/Major City Co2-Emissions  ... Out of pocket health expenditure  \
0                Kabul         8,672  ...                           78.40%
1               Tirana         4,536  ...                           56.90%
2              Algiers       150,006  ...                           28.10%
3     Andorra la Vella           469  ...                           36.40%
4               Luanda        34,693  ...                           33.40%
..                 ...           ...  ...                              ...
190            Caracas       164,175  ...                           45.80%
191              Hanoi       192,668  ...                           43.50%
192              Sanaa        10,609  ...                           81.00%
193             Lusaka         5,141  ...                           27.50%
194             Harare        10,983  ...                           25.80%

    Physicians per thousand  Population  \
0                      0.28  38,041,754
1                      1.20   2,854,191
2                      1.72  43,053,054
3                      3.33      77,142
4                      0.21  31,825,295
..                      ...         ...
190                    1.92  28,515,829
191                    0.82  96,462,106
192                    0.31  29,161,922
193                    1.19  17,861,030
194                    0.21  14,645,468

     Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
0                                       48.90%           9.30%         71.40%
1                                       55.70%          18.60%         36.60%
2                                       41.20%          37.20%         66.10%
3                                          NaN             NaN            NaN
4                                       77.50%           9.20%         49.10%
..                                         ...             ...            ...
190                                     59.70%             NaN         73.30%
191                                     77.40%          19.10%         37.60%
192                                     38.00%             NaN         26.60%
193                                     74.60%          16.20%         15.60%
194                                     83.10%          20.70%         31.60%

    Unemployment rate Urban_population   Latitude   Longitude
0              11.12%        9,797,273  33.939110   67.709953
1              12.33%        1,747,593  41.153332   20.168331
2              11.70%       31,510,100  28.033886    1.659626
3                 NaN           67,873  42.506285    1.521801
4               6.89%       21,061,025 -11.202692   17.873887
..                ...              ...        ...         ...
190             8.80%       25,162,368   6.423750  -66.589730
191             2.01%       35,332,140  14.058324  108.277199
192            12.91%       10,869,523  15.552727   48.516388
193            11.43%        7,871,713 -13.133897   27.849332
194             4.95%        4,717,305 -19.015438   29.154857

[195 rows x 35 columns]

In [9]:
df["Population"]=df["Population"].str.replace(',','')
df["Population"]

0      38041754
1       2854191
2      43053054
3         77142
4      31825295
         ...
190    28515829
191    96462106
192    29161922
193    17861030
194    14645468
Name: Population, Length: 195, dtype: object

In [10]:
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,38041754,48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,2854191,55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,43053054,41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,77142,NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,31825295,77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,28515829,59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,96462106,77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,29161922,38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,17861030,74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,14645468,83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [11]:
df['Population'].dropna(inplace = True)
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,38041754,48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,2854191,55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,43053054,41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,77142,NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,31825295,77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,28515829,59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,96462106,77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,29161922,38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,17861030,74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,14645468,83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [12]:
df['Population']=df['Population'].astype(float)
df['Population']

0      38041754.0
1       2854191.0
2      43053054.0
3         77142.0
4      31825295.0
          ...
190    28515829.0
191    96462106.0
192    29161922.0
193    17861030.0
194    14645468.0
Name: Population, Length: 195, dtype: float64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density
(P/Km2)                            195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      188 non-null    object
 4   Land Area(Km2)                             194 non-null    object
 5   Armed Forces size                          171 non-null    object
 6   Birth Rate                                 189 non-null    float64
 7   Calling Code                               194 non-null    float64
 8   Capital/Major City                         192 non-null    object
 9   Co2-Emissions                              188 non-null    object
 10  CPI                                        178 non-null    object
 11  CPI Change (%)                             179 non-null    object
 12  Currency-Code                              180 non-null    object
 13  Fertility Rate                             188 non-null    float64
 14  Forested Area (%)                          188 non-null    object
 15  Gasoline Price                             175 non-null    object
 16  GDP                                        193 non-null    object
 17  Gross primary education enrollment (%)     188 non-null    object
 18  Gross tertiary education enrollment (%)    183 non-null    object
 19  Infant mortality                           189 non-null    float64
 20  Largest city                               189 non-null    object
 21  Life expectancy                            187 non-null    float64
 22  Maternal mortality ratio                   181 non-null    float64
 23  Minimum wage                               150 non-null    object
 24  Official language                          194 non-null    object
 25  Out of pocket health expenditure           188 non-null    object
 26  Physicians per thousand                    188 non-null    float64
 27  Population                                 194 non-null    float64
 28  Population: Labor force participation (%)  176 non-null    object
 29  Tax revenue (%)                            169 non-null    object
 30  Total tax rate                             183 non-null    object
 31  Unemployment rate                          176 non-null    object
 32  Urban_population                           190 non-null    object
 33  Latitude                                   194 non-null    float64
 34  Longitude                                  194 non-null    float64
dtypes: float64(10), object(25)
memory usage: 53.4+ KB

In [14]:
df['Population'].mean()

39381164.01030928

In [15]:
df['Population'].fillna(df['Population'].mean())

0      38041754.0
1       2854191.0
2      43053054.0
3         77142.0
4      31825295.0
          ...
190    28515829.0
191    96462106.0
192    29161922.0
193    17861030.0
194    14645468.0
Name: Population, Length: 195, dtype: float64

In [16]:
df1=df[df['Population'] > 100000000].sort_values(by=['Population'] , ascending=True)
df1

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
51,Egypt,103,EG,3.80%,"1,001,450","836,000",26.38,20.0,Cairo,"238,560",...,62.00%,0.45,1.003881e+08,46.40%,12.50%,44.40%,10.76%,"42,895,824",26.820553,30.802498
138,Philippines,368,PH,41.70%,"300,000","153,000",20.55,63.0,Manila,"122,287",...,53.50%,0.60,1.081166e+08,59.60%,14.00%,43.10%,2.15%,"50,975,903",12.879721,121.774017
57,Ethiopia,115,ET,36.30%,"1,104,300","138,000",32.34,251.0,Addis Ababa,"14,870",...,37.80%,0.08,1.120787e+08,79.60%,7.50%,37.70%,2.08%,"23,788,710",9.145000,40.489673
110,Mexico,66,MX,54.60%,"1,964,375","336,000",17.60,52.0,Mexico City,"486,406",...,41.40%,2.38,1.260140e+08,60.70%,13.10%,55.10%,3.42%,"102,626,859",23.634501,-102.552784
85,Japan,347,JP,12.30%,"377,944","261,000",7.40,81.0,Tokyo,"1,135,886",...,13.10%,2.41,1.262266e+08,61.70%,11.90%,46.70%,2.29%,"115,782,416",36.204824,138.252924
143,Russia,9,RU,13.30%,"17,098,240","1,454,000",11.50,7.0,Moscow,"1,732,027",...,36.40%,4.01,1.443735e+08,61.80%,11.40%,46.20%,4.59%,"107,683,889",61.524010,105.318756
13,Bangladesh,"1,265",BD,70.60%,"148,460","221,000",18.18,880.0,Dhaka,"84,246",...,71.80%,0.58,1.673108e+08,59.00%,8.80%,33.40%,4.19%,"60,987,417",23.684994,90.356331
126,Nigeria,226,NG,77.70%,"923,768","215,000",37.91,234.0,Abuja,"120,369",...,72.20%,0.38,2.009636e+08,52.90%,1.50%,34.80%,8.10%,"102,806,948",9.081999,8.675277
23,Brazil,25,BR,33.90%,"8,515,770","730,000",13.92,55.0,Bras���,"462,299",...,28.30%,2.15,2.125594e+08,63.90%,14.20%,65.10%,12.08%,"183,241,641",-14.235004,-51.925280
131,Pakistan,287,PK,47.80%,"796,095","936,000",28.25,92.0,Islamabad,"201,150",...,66.50%,0.98,2.165653e+08,52.60%,9.20%,33.90%,4.45%,"79,927,762",30.375321,69.345116
78,Indonesia,151,ID,31.50%,"1,904,569","676,000",18.07,62.0,Jakarta,"563,325",...,48.30%,0.43,2.702039e+08,67.50%,10.20%,30.10%,4.69%,"151,509,724",-0.789275,113.921327
186,United States,36,US,44.40%,"9,833,517","1,359,000",11.60,1.0,"Washington, D.C.","5,006,302",...,11.10%,2.61,3.282395e+08,62.00%,9.60%,36.60%,14.70%,"270,663,028",37.090240,-95.712891
77,India,464,IN,60.40%,"3,287,263","3,031,000",17.86,91.0,New Delhi,"2,407,672",...,65.10%,0.86,1.366418e+09,49.30%,11.20%,49.70%,5.36%,"471,031,528",20.593684,78.962880
36,China,153,CN,56.20%,"9,596,960","2,695,000",10.90,86.0,Beijing,"9,893,038",...,32.40%,1.98,1.397715e+09,68.00%,9.40%,59.20%,4.32%,"842,933,962",35.861660,104.195397

In [17]:
df1.value_counts(normalize= True)

Country        Density\n(P/Km2)  Abbreviation  Agricultural Land( %)  Land Area(Km2)  Armed Forces size  Birth Rate  Calling Code  Capital/Major City  Co2-Emissions  CPI     CPI Change (%)  Currency-Code  Fertility Rate  Forested Area (%)  Gasoline Price  GDP                   Gross primary education enrollment (%)  Gross tertiary education enrollment (%)  Infant mortality  Largest city   Life expectancy  Maternal mortality ratio  Minimum wage  Official language  Out of pocket health expenditure  Physicians per thousand  Population    Population: Labor force participation (%)  Tax revenue (%)  Total tax rate  Unemployment rate  Urban_population  Latitude    Longitude
Bangladesh     1,265             BD            70.60%                 148,460         221,000            18.18       880.0         Dhaka               84,246         179.68  5.60%           BDT            2.04            11.00%             $1.12           $302,571,254,131      116.50%                                 20.60%                                   25.1              Dhaka          72.3             173.0                     $0.51         Bengali            71.80%                            0.58                     1.673108e+08  59.00%                                     8.80%            33.40%          4.19%              60,987,417         23.684994   90.356331     0.090909
Brazil         25                BR            33.90%                 8,515,770       730,000            13.92       55.0          Bras���             462,299        167.4   3.70%           BRL            1.73            58.90%             $1.02           $1,839,758,040,766    115.40%                                 51.30%                                   12.8              S����          75.7             60.0                      $1.53         Portuguese         28.30%                            2.15                     2.125594e+08  63.90%                                     14.20%           65.10%          12.08%             183,241,641       -14.235004  -51.925280     0.090909
China          153               CN            56.20%                 9,596,960       2,695,000          10.90       86.0          Beijing             9,893,038      125.08  2.90%           CNY            1.69            22.40%             $0.96           $19,910,000,000,000   100.20%                                 50.60%                                   7.4               Shanghai       77.0             29.0                      $0.87         Standard Chinese   32.40%                            1.98                     1.397715e+09  68.00%                                     9.40%            59.20%          4.32%              842,933,962        35.861660   104.195397    0.090909
India          464               IN            60.40%                 3,287,263       3,031,000          17.86       91.0          New Delhi           2,407,672      180.44  7.70%           INR            2.22            23.80%             $0.97           $2,611,000,000,000    113.00%                                 28.10%                                   29.9              Kurebhar       69.4             145.0                     $0.30         Hindi              65.10%                            0.86                     1.366418e+09  49.30%                                     11.20%           49.70%          5.36%              471,031,528        20.593684   78.962880     0.090909
Indonesia      151               ID            31.50%                 1,904,569       676,000            18.07       62.0          Jakarta             563,325        151.18  3.00%           IDR            2.31            49.90%             $0.63           $1,119,190,780,753    106.40%                                 36.30%                                   21.1              Kalimantan     71.5             177.0                     $0.48         Indonesian         48.30%                            0.43                     2.702039e+08  67.50%                                     10.20%           30.10%          4.69%              151,509,724       -0.789275    113.921327    0.090909
Mexico         66                MX            54.60%                 1,964,375       336,000            17.60       52.0          Mexico City         486,406        141.54  3.60%           MXN            2.13            33.90%             $0.73           $1,258,286,717,125    105.80%                                 40.20%                                   11.0              Mexico City    75.0             33.0                      $0.49         None               41.40%                            2.38                     1.260140e+08  60.70%                                     13.10%           55.10%          3.42%              102,626,859        23.634501  -102.552784    0.090909
Nigeria        226               NG            77.70%                 923,768         215,000            37.91       234.0         Abuja               120,369        267.51  11.40%          NGN            5.39            7.20%              $0.46           $448,120,428,859      84.70%                                  10.20%                                   75.7              Lagos          54.3             917.0                     $0.54         English            72.20%                            0.38                     2.009636e+08  52.90%                                     1.50%            34.80%          8.10%              102,806,948        9.081999    8.675277      0.090909
Pakistan       287               PK            47.80%                 796,095         936,000            28.25       92.0          Islamabad           201,150        182.32  10.60%          PKR            3.51            1.90%              $0.79           $304,400,000,000      94.30%                                  9.00%                                    57.2              Karachi        67.1             140.0                     $0.69         Urdu               66.50%                            0.98                     2.165653e+08  52.60%                                     9.20%            33.90%          4.45%              79,927,762         30.375321   69.345116     0.090909
Philippines    368               PH            41.70%                 300,000         153,000            20.55       63.0          Manila              122,287        129.61  2.50%           PHP            2.58            27.80%             $0.86           $376,795,508,680      107.50%                                 35.50%                                   22.5              Manila         71.1             121.0                     $1.12         English            53.50%                            0.60                     1.081166e+08  59.60%                                     14.00%           43.10%          2.15%              50,975,903         12.879721   121.774017    0.090909
Russia         9                 RU            13.30%                 17,098,240      1,454,000          11.50       7.0           Moscow              1,732,027      180.75  4.50%           RUB            1.57            49.80%             $0.59           $1,699,876,578,871    102.60%                                 81.90%                                   6.1               Moscow         72.7             17.0                      $0.53         Russian            36.40%                            4.01                     1.443735e+08  61.80%                                     11.40%           46.20%          4.59%              107,683,889        61.524010   105.318756    0.090909
United States  36                US            44.40%                 9,833,517       1,359,000          11.60       1.0           Washington, D.C.    5,006,302      117.24  7.50%           USD            1.73            33.90%             $0.71           $21,427,700,000,000   101.80%                                 88.20%                                   5.6               New York City  78.5             19.0                      $7.25         None               11.10%                            2.61                     3.282395e+08  62.00%                                     9.60%            36.60%          14.70%             270,663,028        37.090240  -95.712891     0.090909
dtype: float64